.row {
  max-width: 100%;
  margin: 1rem 1rem 1rem 1rem;
}

.box1 > img {
  max-width: 100%;
  height: 302px;
}


.box2 {
  border: 1px solid;
  border-color: #ececec;
}

.box2 > p {
  margin: 1rem;
}

p, li {
  color: #a3a3a3;
}
.justify-content-between, h5, h3 {
  color: #000;
}

.bande {

  background-color: #1ab5b3;
}

.bande > p {
  color: #fff;
}

.bande > p > img {
  max-width: 80px;
  max-height: 80px;
}

.container {
  font-size: 1rem;
}

.myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar1 {
  width: 89%;
  height: 30px;
  background-color: #1ab5b3;
  text-align: center;
  line-height: 30px;
}

#myBar2 {
  width: 97%;
  height: 30px;
  background-color: #1ab5b3;
  text-align: center;
  line-height: 30px;
}

#myBar3 {
  width: 85%;
  height: 30px;
  background-color: #1ab5b3;
  text-align: center;
  line-height: 30px;
}

#myBar4 {
  width: 75%;
  height: 30px;
  background-color: #1ab5b3;
  text-align: center;
  line-height: 30px;
}

ul li {
  font-size: 0.8rem;
}

.image img {
  margin: 0.5rem;

}
/* sidebar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999 !important;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: right;
}

.sidenav > a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .menu:hover {
  color: #f1f1f1;
  background-color: #25b0ae;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.logo-box {
    padding: 30px 30px;
    background: #fff;
    text-align: center;
}

.logo-box .logo {
    display: block;
    margin-bottom: 10px;
}

.mysidenav img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.menu {
  background-color: #30383c;
}

#mySidenav ul {
  list-style-image:none;
}

.filter-box a {
  font-size: 0.6rem;
  text-decoration-style: none;
}

.filter-box h6 {
  color: #1ab5b3;
}

.active, .button:hover {
  color: #1ab5b3;
}

.social-bar {
}

.social-bar .fab {
  display: inline-block !important;
  padding: 5px !important;
  font-size: 15px !important;
  width: 10px;
  text-align: center !important;
  text-decoration: none !important;
  margin: 5px 2px !important;
}

.social-bar .fab:hover {
    opacity: 0.7;
}

.social-bar .fa-facebook-f {
  width: min-content;
  background: #3B5998;
  color: white;
}

.social-bar .fa-twitter {
  width: min-content;
  background: #55ACEE;
  color: white;
}

.social-bar .fa-google {
  width: min-content;
  background: #dd4b39;
  color: white;
}

.social-bar .fa-pinterest {
  width: min-content;
  background: #cb2027;
  color: white;
}


.social-bar .fa-dribbble {
  width: min-content;
  background: #ea4c89;
  color: white;
}


.social-bar .fa-reddit {
  width: min-content;
  background: #ff5700;
  color: white;
}

.social-bar .fa-flickr {
  width: min-content;
  background: #000;
  color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* button nav */
#hamburger:hover, #hamburger:focus, .info-box:hover, .info-box:focus {
  background-color: #1ab5b3;
  border-radius: 5%;
  opacity: 0.8;
  font-size: 60px;
  transition: all 1s;
  padding: 1rem;
  padding-left:1.5rem;
  padding-right: 1.5rem;
  color: white;
  z-index: 998 !important;
}
#hamburger, .info-box {
  font-size: 30px;
  transition: all 1s;
  display: block;
  z-index: 998 !important;
}

#hamburger {
position: absolute;
left: 5px;
top: 5px;
}
.info-box {
  position: absolute;
  right: 5px;
  top: 5px;
}

blockquote {
  font-family: Georgia;
}

/* Popup container - can be anything you want */
.popup {
  position: relative !important;
  display: inline-block !important;
  cursor: pointer;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden !important;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center !important;
    border-radius: 6px !important;
    padding: 8px 0 !important;
    position: absolute !important;
    z-index: 999 !important;
    top: 120% !important;
    right: 50% !important;
    margin-left: -80px !important;
    font-size: 0.7rem !important;
}

.popup .show {
    visibility: visible !important;
    -webkit-animation: fadeIn 1s !important;
    animation: fadeIn 1s !important;
}

.popup .popuptext::after {
    content: "";
    position: absolute !important;
    bottom: 100%;
    left: 90%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent !important;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
