.container {
  max-width: 100%;
  color: #000;
  background-color: grey;
  padding: 0px 0px 0px 0px;
}
.card {
  margin: 1rem 1rem 1rem 1rem;
  border: none;
  font-size: 1rem;
}
.card-black {
  background-color: #000;
}
.card-bleu {
  background-color: #1ab5b3;
}
cite {
  font-size: 1.5rem;
  text
}
